My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -704,
        720
      ],
      "id": "c4588b1f-8d1e-4be3-ba41-fca053c2beed",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "jfVoM17FtGRwow4M2",
        "limit": 10,
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -416,
        720
      ],
      "id": "196c52f2-12ee-437a-bdaa-94295eea0574",
      "name": "Get dataset items",
      "alwaysOutputData": true,
      "credentials": {
        "apifyOAuth2Api": {
          "id": "tSVXeSNNOVCdEZ7N",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1i7fEufbZ372Gs0pGo4DHBimzpo5f60XVtYr6hXu0zLc",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i7fEufbZ372Gs0pGo4DHBimzpo5f60XVtYr6hXu0zLc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1396470988,
          "mode": "list",
          "cachedResultName": "google sheet me bana kr do",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i7fEufbZ372Gs0pGo4DHBimzpo5f60XVtYr6hXu0zLc/edit#gid=1396470988"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Adset Name",
              "displayName": "Adset Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Form Name",
              "displayName": "Form Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "90ede6ac-07aa-43a7-ac5c-bdc47ba296b5",
      "name": "Store in Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        720
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SB5BPOrjSQ7ls3da",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        720
      ],
      "id": "02a33dc2-3dbb-435e-89ba-9aef8b3726bc",
      "name": "Loop Over Items",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.first_name }},  {{ $json.company_website }}  ,,  {{ $json.linkedin }}     {{ $json.company_description }}",
        "options": {
          "systemMessage": "You will help to identifies and extract item from each company"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        320,
        896
      ],
      "id": "bda53159-4206-45b7-b46c-80e324e70c8e",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        1136
      ],
      "id": "3a37faa7-aa16-487b-8a5c-70d8ae99f724",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "T5shUaH5NNZI2kS2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a B2B Sales Email Generator for 'VoltnestX'.\nYour task is to generate a personalized email based on the prospect's data.\n\n**CRITICAL RULE:**\nYou must wrap your final JSON response inside a root object named \"output\".\n\n**Company Links to Insert Naturally (HTML format):**\n- Agency: <a href=\"https://voltnestx.store\">VoltnestX</a>\n- HR Tool: <a href=\"https://hr.futuristiccreations.store/\">Futuristic HR</a>\n- Demos: \"https://www.youtube.com/@Ritwik8908\">YouTube Demos</a>\n- Call to Action: <a href=\"https://calendly.com/ritwikr850/30min\">Book a 30min Call</a>\n\n**Content Guidelines:**\n- Subject: Short, catchy, <6 words.\n- Body: Professional, use <br> for line breaks.\n- If prospect is HR/Recruitment -> Pitch the HR Tool.\n- If prospect is General Business -> Pitch VoltnestX Agency.\nHere is the prospect information:\n{{ $json.output }}\nGenerate the sales email now. Remember to wrap the response in the 'output' object.",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        640,
        912
      ],
      "id": "a54c703d-6389-4e1b-9adc-cdd7a3412cd6",
      "name": "AI Agent1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        544,
        1104
      ],
      "id": "e0de1b9f-1427-4812-878e-68b0f2b2ea48",
      "name": "Groq Chat Model1",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "groqApi": {
          "id": "T5shUaH5NNZI2kS2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Loop Over Items').item.json.email }}",
        "subject": "={{ $json.output.email_subject }}",
        "message": "={{ $json.output.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1552,
        912
      ],
      "id": "0df9b86a-6a2f-41e0-afd0-e6634d70ce5f",
      "name": "Send a message",
      "webhookId": "444b5282-982e-4206-9880-ac0d15f5446f",
      "credentials": {
        "gmailOAuth2": {
          "id": "MdUzVDOgyYcJkhge",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1i7fEufbZ372Gs0pGo4DHBimzpo5f60XVtYr6hXu0zLc",
          "mode": "list",
          "cachedResultName": "Untitled spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i7fEufbZ372Gs0pGo4DHBimzpo5f60XVtYr6hXu0zLc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1396470988,
          "mode": "list",
          "cachedResultName": "google sheet me bana kr do",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1i7fEufbZ372Gs0pGo4DHBimzpo5f60XVtYr6hXu0zLc/edit#gid=1396470988"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Platform",
              "displayName": "Platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Adset Name",
              "displayName": "Adset Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Form Name",
              "displayName": "Form Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_type",
              "displayName": "business_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "personal_email",
              "displayName": "personal_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "mobile_number",
              "displayName": "mobile_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_title",
              "displayName": "job_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "linkedin",
              "displayName": "linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_website",
              "displayName": "company_website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "industry",
              "displayName": "industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_size",
              "displayName": "company_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seniority_level",
              "displayName": "seniority_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "functional_level",
              "displayName": "functional_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_linkedin",
              "displayName": "company_linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_linkedin_uid",
              "displayName": "company_linkedin_uid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_founded_year",
              "displayName": "company_founded_year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_domain",
              "displayName": "company_domain",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_phone",
              "displayName": "company_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_street_address",
              "displayName": "company_street_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_full_address",
              "displayName": "company_full_address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_state",
              "displayName": "company_state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_city",
              "displayName": "company_city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_country",
              "displayName": "company_country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_postal_code",
              "displayName": "company_postal_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "keywords",
              "displayName": "keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_description",
              "displayName": "company_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_annual_revenue",
              "displayName": "company_annual_revenue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_annual_revenue_clean",
              "displayName": "company_annual_revenue_clean",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_total_funding",
              "displayName": "company_total_funding",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_total_funding_clean",
              "displayName": "company_total_funding_clean",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_technologies",
              "displayName": "company_technologies",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        624
      ],
      "id": "b2f923b6-e4cf-437b-96cb-b4ca2018bb62",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "SB5BPOrjSQ7ls3da",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        624,
        1216
      ],
      "id": "6eb2b5ca-9a9f-476a-bd66-ca08f41407ce",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "kp99y0k7mzrU9YOL",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"email_subject\": {\n          \"type\": \"string\",\n          \"description\": \"A catchy, short, and personalized subject line.\"\n        },\n        \"email_body\": {\n          \"type\": \"string\",\n          \"description\": \"The full HTML email body. Use <br> for breaks. Must include the provided links naturally.\"\n        }\n      },\n      \"required\": [\n        \"email_subject\",\n        \"email_body\"\n      ]\n    }\n  },\n  \"required\": [\n    \"output\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        816,
        1312
      ],
      "id": "ebb9e007-d87e-49ec-a98e-136fb9ad6322",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        912
      ],
      "id": "fc145555-1733-498b-8cfe-67ae6d5f20d7",
      "name": "Wait",
      "webhookId": "e7e98b29-3355-4c1b-b95e-4290cf329f83"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "ritwikr850@gmail.com",
        "subject": "Require work input",
        "message": "Define the requirements sir",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is the completed project github repo?",
              "requiredField": true
            },
            {
              "fieldLabel": "Completed repo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        624,
        624
      ],
      "id": "2d632899-cb68-4974-ae66-4853b96221d3",
      "name": "Send a message1",
      "webhookId": "77006747-cc8e-4ffc-bc27-4bbc87f2b276",
      "credentials": {
        "gmailOAuth2": {
          "id": "MdUzVDOgyYcJkhge",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        832,
        624
      ],
      "id": "261e63ae-c35e-4c47-804b-15edc83055c0",
      "name": "Get many messages",
      "webhookId": "d91a1b23-1b90-4252-992d-9fdd8c96c9a6",
      "credentials": {
        "gmailOAuth2": {
          "id": "MdUzVDOgyYcJkhge",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        496
      ],
      "id": "2799a9cd-9a88-4248-9a7c-1330e104acc9",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "MdUzVDOgyYcJkhge",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a B2B Sales Email Generator for 'VoltnestX'.\nYour task is to generate a personalized email based on the prospect's data.\n\n**CRITICAL RULE:**\nYou must wrap your final JSON response inside a root object named \"output\".\n\n**Company Links to Insert Naturally (HTML format):**\n- Agency: <a href=\"https://voltnestx.store\">VoltnestX</a>\n- HR Tool: <a href=\"https://hr.futuristiccreations.store/\">Futuristic HR</a>\n- Demos: \"https://www.youtube.com/@Ritwik8908\">YouTube Demos</a>\n- Call to Action: <a href=\"https://calendly.com/ritwikr850/30min\">Book a 30min Call</a>\n\n**Content Guidelines:**\n- Subject: Short, catchy, <6 words.\n- Body: Professional, use <br> for line breaks.\n- If prospect is HR/Recruitment -> Pitch the HR Tool.\n- If prospect is General Business -> Pitch VoltnestX Agency.\nHere is the prospect information:\n{{ $('Get a thread').item.json.messages }}\nGenerate the sales email now. Remember to wrap the response in the 'output' object.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        336
      ],
      "id": "d5a1ed4f-0978-4bb6-b62a-fdc2d7313182",
      "name": "AI Agent3",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": false,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -144,
        592
      ],
      "id": "32a1a004-5b71-43b3-9a5e-0f318498198a",
      "name": "Groq Chat Model2",
      "credentials": {
        "groqApi": {
          "id": "T5shUaH5NNZI2kS2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"output\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"email_subject\": {\n          \"type\": \"string\",\n          \"description\": \"A catchy, short, and personalized subject line.\"\n        },\n        \"email_body\": {\n          \"type\": \"string\",\n          \"description\": \"The full HTML email body. Use <br> for breaks. Must include the provided links naturally.\"\n        }\n      },\n      \"required\": [\n        \"email_subject\",\n        \"email_body\"\n      ]\n    }\n  },\n  \"required\": [\n    \"output\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        48,
        576
      ],
      "id": "f2206bf3-71ed-47d0-939e-321f25a03e97",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.threadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -464,
        496
      ],
      "id": "121603f8-0963-47f9-b3d8-be31f4b84c0e",
      "name": "Get a thread",
      "webhookId": "23850d83-2fa6-4ae5-b34f-ab64ea6ba370",
      "credentials": {
        "gmailOAuth2": {
          "id": "MdUzVDOgyYcJkhge",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "reply",
        "threadId": "={{ $('Get a thread').item.json.id }}",
        "messageId": "={{ $('Get a thread').item.json.id }}",
        "emailType": "html",
        "message": "={{ $json.output.email_body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        320,
        336
      ],
      "id": "2e99ab85-3cf7-4fbc-b1b4-b2b72003fbb5",
      "name": "Reply to a message",
      "webhookId": "df407b54-3c97-4d24-9db1-6c8c134946d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "MdUzVDOgyYcJkhge",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Store in Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store in Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Get a thread": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0633fee7-c69d-4b14-aa5b-b8f064dea3cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fe9ea3e52beaa31d8aa995f268652c6a69d6b4eb744b1aee291fe51c572ebb76"
  },
  "id": "8U01bcX6GC84IE8cBdIhu",
  "tags": []
}